
body { 
    font-family: sans-serif; 
    background: #eef2f3; 
    margin: 0;
    display: flex; 
    flex-direction: column; 
    align-items: center;
}

header { 
    background: #888a8d; 
    color: rgb(2, 1, 1);
    width: 50%; 
    text-align: center; 
    padding: 10px 0;
}

h3 {
    width:100%; 
    margin:0 0 10px 0;
}

.container { 
    width: 95%; 
    max-width: 850px; 
    margin-top: 20px;
}


section, .item-card { 
    background: white; 
    padding: 15px; 
    margin-bottom: 15px; 
    border-radius: 5px; 
    display: flex; 
    flex-wrap: wrap; 
    gap: 10px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.button-group {
    display: flex;
    gap: 10px;
    width: 100%;
}


input, select, textarea { 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    flex: 1; 
    min-width: 150px; 
}

textarea { min-width: 100%; } 


button { 
    padding: 10px;
    color: white;
    font-weight: bold; 
    border: none;
    border-radius: 4px;
    max-width: 200px; 
    cursor: pointer;
    flex: 1;
}

.btn-add { background: #27ae60; }
.btn-cancel { background: #161a1b; }
.btn-olx { background-color: #333; }

.item-card { 
    border-left: 6px solid #3498db;
    justify-content: space-between; 
    align-items: center; 
}

.item-info { flex: 2; }

.badge { 
    font-size: 11px;
    padding: 2px 6px;
    background: #ddd;
    border-radius: 10px;
    color: #333; 
}

.hidden { display: none !important; }